<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>counter</title>

</head>
<body>

    <h1>this is the counter assignment</h1>
    count is {{session['count']}}

    <!-- <button><input type="hidden" >Click me!!!</button> -->
    <button> <a href="/clear">Click me to Clear the counter</a>  </button>
    <button> <a href="/addmore">Click me to increase the counter by 2 </a>  </button>

</body>
</html>